@charset 'UTF-8';
/* * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
} */
/* RESET */
body {
    font-family: 'monospace';
    background-color: #333;
    color: #fff;
}
h2 {
    color: #458688;
}

hr {
    margin-top: 40px;
    margin-bottom: 30px;
    opacity: 0.2;
}

div {
    display: grid;
    text-align: center;
    align-items: center;
    border: 1px solid bisque;
    border-radius: 5px;
}
section {
    margin: 30px 0px;
    padding:30px 10px;
    background-color: #999;
}
/* RESET */

/* COLORS */

.red {
    background-color: rgba(255, 0, 0, 0.824);
}

.blue {
background-color: rgba(78, 162, 252, 0.761);
}

.green {
background-color: green;
}

.yellow {
background-color: rgba(254, 212, 2, 0.899);

}

.bronw {
background-color: rgb(191, 88, 36);
}

.purple {
background-color: purple;
}

.pink {
background-color: rgb(219, 126, 142);
}

.orange {
background-color: orange;
}

.cyan {
  background-color: rgb(74, 196, 196); 
}