@charset "UTF-8";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --azul-escuro: #0d688c;
    --azul-claro: #29A7D9;
    --azul-picina: #4accff;
    --verde-claro: #20e6b2;
    --marron-escuro: #8c4a00;
    --marron-claro: #D98629;
    --branco-gelo: #F2F2F2;
    --cinza-claro: #CFCFCF;
}
header {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url(../img/mosaico_poligonos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  right center;
    display: flex;
    align-items: center;
    /* justify-content: space-between;  */
    overflow: hidden;
}
h1 {
    z-index: 1;
}


.mask {
    position: absolute;
    left: 0;
    
}
