body {
    background-color: #ff7f505d;
    display:flex;
    justify-content: center;
}
main {
    background-color: gainsboro;
    padding: 20px;
    border-radius: 10px;
    min-width: 500px;
    max-width: 700px;
    
}

    img.grande {
        width: 100%;
    }

    main picture.pequena {
        width: 20%;
        display:block;
        margin: auto;
        flex-wrap: wrap;
    }