@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 100px 15px;
}

.timeLine {
    position: relative;
    list-style: none;
    display: inline-block;
}
.timeLine li {
    padding: 20px;
    background-color: #444;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}
.timeLine li:last-child {
    margin-bottom: 0;
}
.timeLine .timeLine-content h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
}
.timeLine .timeLine-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;
}
.timeLine .timeLine-content .date {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #fff;
}
@media (min-width: 992px) {
    .timeLine li {
        width: 50%;
        position: relative;
        margin-bottom: 50px;
    }
    .timeLine li:nth-child(odd)::before {
        transform: translate(50%, -50%);
        right: -30px;
    }
        .timeLine li:nth-child(even)::before {
            transform: translate(-50%, -50%);
            left: -30px;
    }
        .timeLine .timeLine-content .date {
            position: absolute;
            top: -30px;
            color: #444;
    }
    .timeLine li:hover::before {
        background-color: royalblue;
    }
    .timeLine li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 20px 0px 20px 20px;
    }
    .timeLine li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 0px 20px 20px 20px;
    }
    .timeLine li::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #aaa;
        top: 0px;
        z-index: 1;
    }
    .timeLine li:nth-child(odd)::after {
        content: '';
        position: absolute;
        height: calc(100% + 40px);
        width: 2px;
        background-color: #aaa;
        top: 0;
        right: -31px;
    }
    .timeLine li:nth-child(even):not(last-child)::after {
        content: '';
        position: absolute;
        height: calc(100% + 40px);
        width: 2px;
        background-color: #aaa;
        top: 0;
        left: -31px;

    }
}