@charset 'UTF-8';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flexcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;

}
body {
    display: grid;
    place-items: center;
    height: 200vh;
    gap: 3rem;

}
.imgContein {
    width: 29rem;
    height: 29rem;
    border: 2px solid #b00;
}
.imgContein img {
    width: 50%;
    height: 50%;
    background-color:bisque;
    border-radius: 50%;
    object-fit:contain;
}